@font-face {
  font-family: 'Monument Extended';
  src: url('/assets/fonts/MonumentExtended-Regular.otf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('/assets/fonts/Montserrat-Thin.otf');
}
