* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 125%;
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  list-style-type: none;
}
a[href] {
  text-decoration: none;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
button {
  border: none;
}
