$black-color: #000;
$gray-color: #a9a9a9;
$white-color: #fff;
$blue-color: #0147ff;
$gray-sub-title-color: #929292;
$highlight-color-pink: #f398f1;
$highlight-color-pink-dark: #cb20e2;
$highlight-color-green: #02ff90;
$highlight-color-green-dark: #019722;
$highlight-color-smoke: #def9ff;
$highlight-color-pupper: #4821ff;
$highlight-color-yellow: #e6ff01;

//===== Fonts ======//
$font-primary: 'Monument Extended';
$font-second: 'Montserrat';
$font-second-thin: 'Montserrat-Thin';
//====== Process =====//
$percent-bar: 122px;
