.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 85px;
  .wrapper-nav {
    display: flex;
    align-items: center;
    .logo-header {
      flex: 1;
    }
    .menu {
      width: 569px;
      display: inline-flex;
      justify-content: space-between;
      &-item-link {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 82%;
        text-transform: uppercase;
        color: $gray-color;
      }
    }
  }
}
