.national {
  margin-bottom: 62px;
  .wrapper-national {
    .wrapper-trend {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 92px;
      .wrapper-text-national {
        max-width: 691px;
        .title-national {
          font-size: 4.8rem;
          font-weight: 400;
          font-family: $font-primary;
          line-height: 132%;
          text-transform: uppercase;
        }
        .sub-title-national {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 167%;
          color: $gray-sub-title-color;
        }
      }
    }
    .wrapper-trend:nth-child(2) > .wrapper-text-national {
      margin-left: 140px;
    }
    .wrapper-image-national {
      display: flex;
      align-items: center;
    }
  }
}
