.partners {
  margin-bottom: 240px;
  .wrapper-partners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .wrapper-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
      .title {
        font-family: 'Monument Extended';
        font-weight: 400;
        font-size: 48px;
        line-height: 132%;
        text-transform: uppercase;
      }

      .sub-title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 19px;
        line-height: 130%;
        color: $gray-sub-title-color;
        text-align: center;
        width: 623px;
        max-width: 100%;
      }
    }
    .wrapper-partents-item {
      position: relative;
      left: 5%;
      .logo-partents {
        margin-right: 50px;
      }
      + .wrapper-partents-item {
        margin-left: 60px;
        margin-top: 52px;
      }
    }
  }
}
