.social {
  position: fixed;
  padding-left: 10px;
  z-index: 999999;
  &-item {
    width: 37px;
    height: 37px;
    background-color: $white-color;
    border-radius: 50%;
    margin-bottom: 15px;
    .social-link {
      color: $black-color;
      display: block;
      text-align: center;
      transform: translateY(50%);
    }
  }
}
